<div class="text-center">
  <div class="upload-card">
    <img src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fupload-icon.png?alt=media&token=94d19bfb-b9bd-4f89-8e9e-ddf7762af0ee">
    <div class="upload-file">
     <input class="form-control" type="file" (change)="scanImage($event)" accept="*.png*.jpg" multiple="multiple">
     <button mat-flat-button (click)="uploadImage()" [disabled]="lockUpload==true" class="btn btn-success" color="primary">Upload</button>
    </div>
  </div>
</div>

