<mat-drawer-container class="side-container">
  <mat-drawer class="side-nav" mode="side" opened>
    <img src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fgotabang-newlogo.png?alt=media&token=48213924-5533-4363-adfa-62fccebbac5d">
    <div class="nav-buttons">
      <a class="nav-user">Welcome<br><b>{{displayName}}</b></a>
      <a class="nav-button" mat-button routerLinkActive="active" routerLink="dashboard"><mat-icon>home</mat-icon> Dashboard</a>
      <a class="nav-button" mat-button routerLinkActive="active" routerLink="upload2"><mat-icon>cloud_download</mat-icon> Retrieve</a>
      <a class="nav-button" mat-button routerLinkActive="active" routerLink="level"><mat-icon> insert_chart_outlined</mat-icon> Scan</a>
      <a class="nav-button" mat-button routerLinkActive="active" routerLink="alert"><mat-icon>error_outline</mat-icon> Alert</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="menu-spacer">
        <div>
          <a mat-button>Home</a>
          <a mat-button>Contacts</a>
          <a mat-button>History</a>
          <a mat-button [matMenuTriggerFor]="menu">{{displayName}}</a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Profile</button>
              <button mat-menu-item routerLinkActive="active" routerLink="/">Sign Out</button>
            </mat-menu>
        </div>
      </span>
      </mat-toolbar-row>
    </mat-toolbar>
<router-outlet></router-outlet>
</mat-drawer-content>
</mat-drawer-container>
<app-toolbar></app-toolbar>




