mat-toolbar{
  background: linear-gradient(651deg, rgba(26,38,64,1) 0%, rgba(97,152,163,1) 100%);
  background-size: cover;
  color: white;
}

img{
  width: 100px;
}

.menu-spacer{
  position: absolute;
  right: 20px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

