<mat-toolbar>
  <mat-toolbar-row>
    <img src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fgotabang-newlogo.png?alt=media&token=48213924-5533-4363-adfa-62fccebbac5d">
    <span class="menu-spacer">
    <div>
      <a mat-button>Home</a>
      <a mat-button>Contacts</a>
      <a mat-button>History</a>
      <a mat-button  routerLinkActive="active" routerLink="/">Sign Out</a>
    </div>
  </span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-toolbar></app-toolbar>




