@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

mat-toolbar{
  background: linear-gradient(651deg, rgba(26,38,64,1) 0%, rgba(97,152,163,1) 100%);
  background-size: cover;
  color: white;
  padding-top: 10%;
  margin-top: 10%;
}

mat-drawer-content,.side-nav{
  background: linear-gradient(90deg,rgba(26,38,64,1), rgba(32,45,69,1), rgba(97,152,163,1));
	background-size: 400% 400%;
}

mat-icon{
  margin-right: 10px;
}

button{
  margin: 10% 0%;
  background-color: none;
}

img{
  width: 135px;
  margin-top: 10px;
  margin-left: 30px;
}

.menu-spacer{
  position: absolute;
  right: 20px;
}

.nav-buttons{
  margin: 0% 5% 5% 0%;
  padding: 20px;
  color: white;
}

.nav-user{
  margin: 0% 0% 0% 11%;
  color: white;
  display: block;
  text-align: left;
  font-size: larger;
}

.nav-button{
  margin: 15% 5% 5% 0%;
  color: white;
  align-items: center;
  text-align: center;
}

.side-nav{
  width: 16%;
}



