<div class="gotabang-header bg-cover">
    <img class="gotabang-icon" src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fgodrone-logo.png?alt=media&token=6a916780-5f85-4b81-bf74-49d49dda6b5a">
      <div class="header-mask">
        <div class="school-logo">
          <img class="usjr-icon" src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2FUSJR1.png?alt=media&token=8e0dfb0c-4691-4d27-b5de-6a7912b1a3ba">
          <img class="scs-icon" src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fscs-logo.png?alt=media&token=d774ca9c-7219-414d-a5da-c70122460ebb">
        </div>
          <h1 class="display-4 font-weight-bold">GOTABANG</h1>
          <p class="display-sub">Aerial Monitoring System for Disaster Management Operations</p>
      </div>
  </div>
  
  <div class="features">
    <div class="row">
      <div class="column">
        <mat-icon aria-hidden="false" aria-label="Example home icon">center_focus_weak</mat-icon>
        <h3>Aerial Drone</h3>
        <p>Utilizes drone camera to capture images for Image Processing.</p>
      </div>
      <div class="column">
        <mat-icon aria-hidden="false" aria-label="Example home icon">memory</mat-icon>
        <h3>AI Features</h3>
        <p>Gotabang, which is built with algorithms, offers features such as Image Classifier and Post-Disaster Damage Assessment.</p>
      </div>
      <div class="column">
        <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
        <h3>Alert System</h3>
        <p>Utilizing the location, acquired through an API, it sends the gathered data
         from damaged areas to the nearest emergency stations.</p>
      </div>
    </div>
  </div>
  
  <div class="gotabang-about bg-cover">
    <img src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fhome-vector.png?alt=media&token=4f832e1c-9d56-42fe-b6f7-efb737cae1cf">
        <div class="about-content">
    <h1 class="display-3 font-weight-bold">About Us</h1>
          <p class="about-sub">Gotabang is a proactive, rational application for disaster management and security that employs drone image processing to detect catastrophe and its levels,
            collect its data for Local Government Units (LGUs) and alert nearest responders and rescue offices.</p>
          </div>
  </div>
  
  