@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Rubik+Glitch&display=swap');
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


mat-tab-group {
  margin-top: 15%;
  align-items: center;
  overflow: hidden;
  color: white;
}

::ng-deep.mat-tab-label-content{
  color: white;
}

.about-content{
  width: 50%;
  margin-top: 100px;
}

.display-4, .display-sub, .gotabang-about{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
}

.display-4{
  top: 18%;
  left: 27%;
  font-size: 90px;
  font-family: 'Rubik Glitch', cursive;
}

.display-3, .about-sub{
  margin: 10px 10px 20px 25px;
  width: 70%;
}

.display-sub{
  top: 30%;
  left: 32%;
  font-size: 15px;
}

.gotabang-about{
  margin: 5% 0% 0% 5%;
  display: flex;
}

.gotabang-header{
 margin-top: 10%;
 animation: fadeIn 5s;
}

.header-mask{
  margin: 10% 5% 0% 5%;
}

img.gotabang-icon{
  width: 50%;
  position: absolute;
  right: 0%;
  top: 13%;
  animation: float 5s ease-in-out infinite;
  box-shadow: none;
  overflow: hidden;
}

.features {
  padding-top: 60px;
  margin-top: 10%;
  color: rgb(207, 204, 204);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 33%;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.features:hover {
  cursor: pointer;
}

p {
  padding: 0 10px;
}

.scs-icon{
  width: 5%;
  padding: 0px 0px 12px 5px;
}

.usjr-icon{
  width: 7%;
}
