
<div class="gotabang-header bg-cover">
    <img class="gotabang-icon" src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fgodrone-logo.png?alt=media&token=6a916780-5f85-4b81-bf74-49d49dda6b5a">
      <div class="header-mask">
        <div class="school-logo">
          <img class="usjr-icon" src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2FUSJR1.png?alt=media&token=8e0dfb0c-4691-4d27-b5de-6a7912b1a3ba">
          <img class="scs-icon" src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fscs-logo.png?alt=media&token=d774ca9c-7219-414d-a5da-c70122460ebb">
        </div>
          <h1 class="display-4 font-weight-bold">GOTABANG</h1>
          <p class="display-sub">Aerial Monitoring System for Disaster Management Operations</p>
      </div>
  </div>
  
  <div class="container">
    
        <!-- <div class="chart-container">
          <canvas id="myChart" width="700", height="250"  #mychart></canvas>
        </div> -->
      
  </div>
    
  
  
  