/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  padding: 0px 10px;
}

button{
padding: 0px 10px;}

::ng-deep div.mat-tab-body-wrapper{
width: 90%;
}

.table-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
