/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(351deg, rgba(26,38,64,1) 0%, rgba(32,45,69,1) 35%, rgba(97,152,163,1) 100%);
}

.mat-dialog-container {
  border-radius: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
