@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*CARD*/
mat-card {
  position: absolute;
  right: 5%;
  top: 10%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: rgb(51, 54, 69);
}

mat-card.app-login{
  width: 30%;
  height: 70%;
}

mat-card.app-register{
  width: 30%;
  height: 80%;

}
mat-card.app-recover {
  width: 30%;
  height: 45%;
}

h2, p {
  margin: 0%;
}

/*FORM*/
mat-form-field {
  padding: 0px 5px;
  display: block;
  text-decoration: none;
}

mat-form-field, .register, .submenu {
  font-size: medium;
}

mat-checkbox{
  padding-right: 5em;
}

.mat-button-login{
  width: 90%;
  padding: 6px;
  margin: 5% 0%;
}

.mat-button-recover{
  width: 90%;
  padding: 6px;
  margin: 5px 0px;
}

.link-primary{
  cursor: pointer;
  color: rgb(39, 126, 240);
}

.forgot-pwd{
  text-decoration: none;
  position: absolute;
  right: 30px;
}

/*PAGE*/

body{
  background: linear-gradient(-45deg, #1f1e32, #546270, #1e3932, #43514e);
  animation: gradient 15s ease infinite;

  height: 100vh;
}

.submenu{
  display: flex;
  padding: 0 10px 0 11px;
}

img{
  width: 40%;
  position: absolute;
  top: 22%;
  left: 10%;
}

