<div class="library-header bg-cover">
    <div class="header-mask py-2 text-white">
        <h1 class="display-4 font-weight-bold">GOTABANG WEB CENTER</h1>
        <p class="display-sub">a proactive, rational application for disaster management and security</p>
    </div>
  </div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab routerLinkActive="active" routerLink="upload2" label="UPLOAD"><upload-file></upload-file></mat-tab>
    <mat-tab routerLinkActive="active" routerLink="scan" label="SCAN"><scan-file></scan-file></mat-tab>
    <mat-tab label="ALERT">ALERT</mat-tab>
  </mat-tab-group>
