@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

mat-tab-group {
  margin-top: 15%;
  align-items: center;
  overflow: hidden;
  color: white;
}

::ng-deep.mat-tab-label-content{
  color: white;
}

.about-content{
  width: 50%;
  margin-top: 100px;
}

.display-4, .display-sub, .gotabang-about{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
}

.display-4{
  top: 18%;
  left: 27%;
  font-size: 90px;
  font-family: 'Rubik Glitch', cursive;
}

.display-3, .about-sub{
  margin: 10px 10px 20px 25px;
  width: 70%;
}

.display-sub{
  top: 30%;
  left: 32%;
  font-size: 15px;
}

.gotabang-about{
  margin: 0% 0% 0% 15%;
  display: flex;
}

.gotabang-header{
 margin-top: 10%;
 animation: fadeIn 5s;
}

.header-mask{
  margin: 10% 5% 0% 5%;
}

img.gotabang-icon{
  width: 59%;
  position: absolute;
  left: 40%;
  top: 20%;
  animation: float 6s ease-in-out infinite;
  box-shadow: none;
  overflow: hidden;
}

.scs-icon{
  width: 5%;
  padding: 0px 0px 12px 5px;
}

.usjr-icon{
  width: 7%;
}

