<div class="gotabang-header bg-cover">
    <div class="header-mask py-2 text-white">
        <h1 class="display-4 font-weight-bold">GOTABANG WEB CENTER</h1>
        <p class="display-sub">a proactive, rational application for disaster management and security</p>
    </div>
</div>

<mat-tab-group animationDuration="0ms">
    <mat-tab routerLinkActive="active" routerLink="upload2" label="UPLOAD"><upload-file></upload-file></mat-tab>
    <mat-tab routerLinkActive="active" routerLink="scan" label="SCAN"><scan-file></scan-file></mat-tab>
    <mat-tab routerLinkActive="active" routerLink="scan" label="ALERT"><alert-file></alert-file></mat-tab>
</mat-tab-group>

<div class="gotabang-about bg-cover">
  <img src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fhome-vector.png?alt=media&token=4f832e1c-9d56-42fe-b6f7-efb737cae1cf">
      <div class="about-content">
  <h1 class="display-3 font-weight-bold">About Us</h1>
        <p class="about-sub">Gotabang is a proactive, rational application for disaster management and security that employs drone image processing to detect catastrophe and its levels,
          collect its data for Local Government Units (LGUs) and alert nearest responders and rescue offices.</p>
        </div>
</div>

